<!DOCTYPE html>
<html>
    <head>
        <title>Change Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/changePassword.css">
    </head>
    <body>
        <div id="container">
            <div id="container-header">
                <div class="container-header-text">
                     Change Password
                </div>
            </div>
            <div id="container-body">
                <form action="/users/changePassword/<%=token%>" method="post">
                    <div id="form-item">
                        <input type="password" id="password" name="password" placeholder="New Password" required>
                    </div>
                    <div id="form-item">
                        <input type="password" id="password" name="confirmPassword" placeholder="Confirm New Password" required>
                    </div>
                    <div id="form-item">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>