<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>This is the profile page</h1>
        <p><%=user.email%></p>
        <p><%=user.name%></p>
        <a href="/users/signout">Sign Out</a>
    </body>
</html>