<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<%=assetPath('css/reset-password.css')%>">
    </head>
    <body style="background-image: url('<%=assetPath(`images/authentication_background.jpg`)%>');">
        <div id="container">
            <div id="container-header">
                <div class="container-header-text">
                     Enter Your Email to reset your password.
                </div>
            </div>
            <div id="container-body">
                <form action="/users/reset-password" method="post">
                    <div id="form-item">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div id="form-item">
                        <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>