html{
    font-size:16px;
}

body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.heading{
    font-size:2rem;
}

.header{
    border-bottom:4px solid red;
}

.navbar-item{
    background-color:orange;
    border-right:4px solid red;
}