html{
    font-size:16px;
}

body{
    margin: 0px;
    padding: 0px;
    background-image: url("/images/authentication_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.heading{
    font-size:2rem;
}

.header{
    border-bottom:4px solid red;
}

.navbar-item{
    background-color:orange;
    border-right:4px solid red;
}

.box{
    height:auto;
    min-height:70vh;
    margin:0px;
}

.post-header{
    font-size:2rem;
    color:red;
    height:10%;
}

.post-box{
    height:90%;
    min-height:63vh;
    margin:0px;
    margin-top:5rem;
}

.flex-wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.profile-link-post{
    a{
        text-decoration: none;
    }
}

.profile-link-comment{
    a{
        text-decoration: none;
        color:white;

        &:hover{
            color:lightgray;
        }
    }
}

.posts-footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    div{
        a {
            font-size:1rem;

            &:hover{
                text-decoration:none;
                color:blue;
            }
        }
        
    }
}

a {
    i{
        &:hover{
            color:red;
        }
    }
}

#delete{

    display:flex;
    justify-content: space-between;
    a{

        &:hover{
            color:red;
            text-decoration:none;
        }
    }
}