html{
    font-size:16px;
}

body{
    margin: 0px;
    padding: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.heading{
    font-size:2rem;
}

.header{
    border-bottom:4px solid red;
}

.navbar-item{
    background-color:orange;
    border-right:4px solid red;
}

.wrapper{
    margin-top:5rem;
    margin-bottom:2rem;
    display:flex;
    align-items: flex-start;
    .profile-container{
        height:70vh;
        width:20%;
        border:0px;
        margin-left:auto;
        margin-right:auto;
        .card-body{
            font-size:1rem;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            a{
                width:100%;
                margin-bottom:1rem;
            }
        }
        
        img{
            width:90%;
            height:90%;
            max-width:250px;
            max-height:250px;
            margin:auto;
            display:inline-block;
            border-radius:50%;
            border:1px solid black;
            padding:0.5rem;
        }
    }
    .posts-container{
        min-height:52vh;
        height:auto;
        width:75%;
        border:1px solid black;
        margin-left:2rem;
        .text{
            font-size:1.5rem;
            font-weight:750;
            text-align:center;
            margin-top:0.5rem;
        }
    }
}

.flex-wrapper{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.posts-footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    div{
        a {
            font-size:1rem;

            &:hover{
                text-decoration:none;
                color:blue;
            }
        }
        
    }
}

.comments-footer{
    display:flex;
    flex-direction:column;
    div{
        a {
            font-size:1rem;
        }
        
    }
}

a {
    i{
        &:hover{
            color:red;
        }
    }
}

#delete{

    display:flex;
    justify-content: space-between;
    a{

        &:hover{
            color:red;
            text-decoration:none;
        }
    }
}

.profile-link-post{
    a{
        text-decoration: none;
    }
}

.profile-link-comment{
    a{
        text-decoration: none;
        color:white;

        &:hover{
            color:lightgray;
        }
    }
}

@media screen and (max-width:1000px) {
    .wrapper{
        margin-top:5rem;
        margin-bottom:2rem;
        display:flex;
        flex-direction: column;

        .profile-container{
            height:50vh;
            width:50%;
            border:0px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom: 3rem;

            .card-body{
                font-size:1rem;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                a{
                    width:100%;
                    margin-bottom:1rem;
                }
            }
        
            img{
                width:90%;
                height:90%;
                margin:auto;
                display:inline-block;
                border-radius:50%;
                border:1px solid black;
                padding:0.5rem;
            }
        }
        .posts-container{
            min-height:52vh;
            height:auto;
            width:90%;
            border:1px solid black;
            margin-left:2rem;
            .text{
                font-size:1.5rem;
                font-weight:750;
                text-align:center;
                margin-top:0.5rem;
            }
        }
    }
}