html {
  font-size: 16px; }

#user-chat-box {
  position: fixed;
  left: 50%;
  top: 50%;
  height: 95vh;
  width: 95vw;
  transform: translate(-50%, -50%);
  background: white;
  padding: 5px;
  border: 1px solid lightgrey;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */ }
  #user-chat-box .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #user-chat-box .flex-wrapper img {
      border-radius: 50%;
      margin-top: 0.5rem;
      margin-left: 1rem;
      margin-right: 1rem; }
    #user-chat-box .flex-wrapper .text {
      font-weight: 700;
      margin-top: 0.8rem; }
      #user-chat-box .flex-wrapper .text a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 65%;
    background-color: white;
    overflow-y: scroll; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        background-color: #ffa0a0; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        background-color: #a0dcff; }
  #user-chat-box #chat-messages-list::-webkit-scrollbar {
    display: none; }
  #user-chat-box #chat-messages-list {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
  #user-chat-box #chat-message-input-container {
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 49%;
      width: 70%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 53%;
      width: 30%;
      font-size: 25px;
      color: green;
      border: none;
      background-color: white;
      border: 1px solid green; }
      #user-chat-box #chat-message-input-container #send-message:hover {
        color: white;
        background-color: green; }
