html {
  font-size: 16px; }

body {
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.heading {
  font-size: 2rem; }

.header {
  border-bottom: 4px solid red; }

.navbar-item {
  background-color: orange;
  border-right: 4px solid red; }

.wrapper {
  height: auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrapper .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: auto;
    max-width: 600px; }
    .wrapper .profile-container img {
      margin-top: 1rem;
      width: 30vw;
      height: 50vh;
      margin-left: 1rem;
      margin-right: 1rem; }

.card-body {
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
