<div>
    <p>Click the link below to verify your email</p>
    <br>
    <br>
    <br>
    <p><a href="http://localhost:8000/users/verify-email/<%=verifyEmail.accesstoken%>">Verify Email</a></p>
    <br>
    <br>
    <p>Thanks</p>
</div>